<div class="container">
  <h3 class="fw-bold border-bottom pb-2 mb-4">Curriculum Vitae</h3>
  <p>
    <a href="{{ '/assets/resume.pdf' | relative_url }}" target="_blank" class="btn btn-outline-primary">
      Download Full CV (PDF)
    </a>
  </p>

  <h3 class="fw-bold border-bottom pb-2 mt-5 mb-4">PhD Thesis</h3>
  <p>
    <a href="{{ '/assets/dissertation.pdf' | relative_url }}" target="_blank" class="btn btn-outline-secondary">
      Download Thesis (PDF)
    </a>
  </p>

  <h3 class="fw-bold border-bottom pb-2 mt-5 mb-4">Talks</h3>
  <ul>
    {% assign talks = site.static_files | where_exp:"file", "file.path contains 'assets/talks'" %}
    {% for talk in talks %}
      <li>
        <a href="{{ talk.path | relative_url }}" target="_blank">
          {{ talk.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
