<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/libs/bootstrap/bootstrap.min.css">
  <script defer src="{{ site.baseurl }}/assets/libs/fontawesome/all.min.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/inq.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/inq.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <meta name="google-site-verification" content="80V10DDUppNvdgJL_2dnOutSYrcOfG0BpxrAgjHjtVA" />

 
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P84TBLSL8D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P84TBLSL8D');
</script>

</head>
