$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$linkColor: #212529 !important;

$bodyFontSize: 18px;
$heading1Size: 2.5rem;
$heading2Size: 2rem;
$heading3Size: 1rem;
$paragraphFontSize: 1.125rem;

/* Base styles */
body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
}

body a {
  color: $linkColor;
}

/* Typography */
body h1 {
  font-size: $heading1Size;
}

body h2 {
  font-size: $heading2Size;
}

body h3 {
  font-size: $heading3Size;
}

body p {
  font-size: $paragraphFontSize;
}
